@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    font-family: 'Varela Round', sans-serif;
}

.container{
    margin-top: 30px;
    font-size: larger;
    padding: 150px;
}

.navbar{
    background: linear-gradient(45deg, #330066, #330099, #3300CC);
}

.card{
    border-radius: 10px;

    #Home{
        box-shadow: 5px 10px 10px #330066;
    }

    #Intro{
        box-shadow: 5px 10px 10px #330099;
    }

    #Biblio{
        box-shadow: 5px 10px 10px #3300CC;
    }
    
}