@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
html {
  font-family: 'Varela Round', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#EDF3FF), color-stop(#F0F5FF), to(#E6EFFF));
  background: linear-gradient(#EDF3FF, #F0F5FF, #E6EFFF);
  background-color: #f0f5ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

svg {
  width: 100%;
  position: relative;
  z-index: -10;
}

#Main h1 {
  border-radius: 5px;
  margin: 50px;
  padding: 20px;
  text-align: center;
}

#Main h3 {
  text-align: justify;
}

#Main .boton {
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

#Main ul > li {
  -webkit-box-shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px, rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px;
          box-shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px, rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px;
  padding: 10px;
  margin-top: 40px;
  list-style: none;
  text-align: center;
}

#Main ul > li:hover {
  -webkit-box-shadow: #00CC66 0 0 5px 5px, #00CC99 10px 10px, #00CCCC 15px 15px, #00FFCC 20px 20px;
          box-shadow: #00CC66 0 0 5px 5px, #00CC99 10px 10px, #00CCCC 15px 15px, #00FFCC 20px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Main #No1 h1 {
  -webkit-box-shadow: #330099 0 0 5px 5px, #3300CC 10px 10px, #3300FF 15px 15px, #3399FF 20px 20px;
          box-shadow: #330099 0 0 5px 5px, #3300CC 10px 10px, #3300FF 15px 15px, #3399FF 20px 20px;
}

#Main #No1 .boton {
  background: -webkit-gradient(linear, left top, right top, from(#330099), color-stop(#3300CC), color-stop(#3300FF), to(#3399FF));
  background: linear-gradient(to right, #330099, #3300CC, #3300FF, #3399FF);
}

#Main #No1 .boton:hover {
  background: -webkit-gradient(linear, left top, right top, from(#3399FF), color-stop(#3300FF), color-stop(#3300CC), to(#330099));
  background: linear-gradient(to right, #3399FF, #3300FF, #3300CC, #330099);
}

#Main #No2 h1 {
  -webkit-box-shadow: #FF3333 0 0 5px 5px, #FF3366 10px 10px, #FF3399 15px 15px, #FF66FF 20px 20px;
          box-shadow: #FF3333 0 0 5px 5px, #FF3366 10px 10px, #FF3399 15px 15px, #FF66FF 20px 20px;
}

#Main #No2 .boton {
  background: -webkit-gradient(linear, left top, right top, from(#FF3333), color-stop(#FF3366), color-stop(#FF3399), to(#FF66FF));
  background: linear-gradient(to right, #FF3333, #FF3366, #FF3399, #FF66FF);
}

#Main #No2 .boton:hover {
  background: -webkit-gradient(linear, left top, right top, from(#FF66FF), color-stop(#FF3399), color-stop(#FF3366), to(#FF3333));
  background: linear-gradient(to right, #FF66FF, #FF3399, #FF3366, #FF3333);
}

#Main #No3 h1 {
  -webkit-box-shadow: #006600 0 0 5px 5px, #339933 10px 10px, #33CC66 15px 15px, #33CC99 20px 20px;
          box-shadow: #006600 0 0 5px 5px, #339933 10px 10px, #33CC66 15px 15px, #33CC99 20px 20px;
}

#Main #No3 .boton {
  background: -webkit-gradient(linear, left top, right top, from(#006600), color-stop(#339933), color-stop(#00CC66), to(#33CC99));
  background: linear-gradient(to right, #006600, #339933, #00CC66, #33CC99);
}

#Main #No3 .boton:hover {
  background: -webkit-gradient(linear, left top, right top, from(#33CC99), color-stop(#00CC66), color-stop(#339933), to(#006600));
  background: linear-gradient(to right, #33CC99, #00CC66, #339933, #006600);
}

#Main #No4 h1 {
  -webkit-box-shadow: #FF6633 0 0 5px 5px, #FF9933 10px 10px, #FFCC33 15px 15px, #FFFF00 20px 20px;
          box-shadow: #FF6633 0 0 5px 5px, #FF9933 10px 10px, #FFCC33 15px 15px, #FFFF00 20px 20px;
}

#Main #No4 .boton {
  background: -webkit-gradient(linear, left top, right top, from(#FF6633), color-stop(#FF9933), color-stop(#FFCC33), to(#FFFF00));
  background: linear-gradient(to right, #FF6633, #FF9933, #FFCC33, #FFFF00);
}

#Main #No4 .boton:hover {
  background: -webkit-gradient(linear, left top, right top, from(#FFFF00), color-stop(#FFCC33), color-stop(#FF9933), to(#FF6633));
  background: linear-gradient(to right, #FFFF00, #FFCC33, #FF9933, #FF6633);
}

#Main #No5 h1 {
  -webkit-box-shadow: #00CC66 0 0 5px 5px, #00CC99 10px 10px, #00CCCC 15px 15px, #00FFCC 20px 20px;
          box-shadow: #00CC66 0 0 5px 5px, #00CC99 10px 10px, #00CCCC 15px 15px, #00FFCC 20px 20px;
}

.holder {
  position: absolute;
  top: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  z-index: -1;
}

.heading {
  font-size: 10px;
  margin: 5px;
  z-index: 1;
  width: 100%;
  color: #f5f6fa;
  text-align: center;
}

.tagline {
  font-size: 15px;
  font-weight: 200;
  width: 100%;
  color: #f5f6fa;
  text-align: center;
}

p {
  text-align: justify;
}

.img-me {
  border: none;
  border-radius: 100px;
  width: 204px;
  height: 198px;
  -webkit-box-shadow: #330099 0 0 5px 5px, #3300CC 10px 10px, #3300FF 15px 15px, #3399FF 20px 20px;
          box-shadow: #330099 0 0 5px 5px, #3300CC 10px 10px, #3300FF 15px 15px, #3399FF 20px 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.img-me:hover {
  -webkit-box-shadow: #3399FF 0 0 5px 5px, #3300FF 10px 10px, #3300CC 15px 15px, #330099 20px 20px;
          box-shadow: #3399FF 0 0 5px 5px, #3300FF 10px 10px, #3300CC 15px 15px, #330099 20px 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar {
  background: -webkit-gradient(linear, left top, left bottom, from(#330066), color-stop(#330099), to(#3300CC));
  background: linear-gradient(#330066, #330099, #3300CC);
  padding: 50px;
}

.container {
  margin-top: 60px;
  font-size: larger;
  padding: 100px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px, rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px;
          box-shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px, rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px;
  color: black;
  background: #f0f5ff;
}

.container > svg {
  position: absolute;
  z-index: -10;
}

.scrollup-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#EDF3FF), color-stop(#F0F5FF), to(#E6EFFF));
  background: linear-gradient(#EDF3FF, #F0F5FF, #E6EFFF);
  -webkit-box-shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px, rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px;
          box-shadow: rgba(136, 172, 243, 0.25) 0px 10px 30px, rgba(0, 0, 0, 0.03) 0px 1px 1px, rgba(47, 62, 96, 0.01) 0px 10px 20px, rgba(76, 102, 148, 0.13) 0px 1px 3px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  color: white;
  border: none;
  position: absolute;
  margin: 10px;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/*# sourceMappingURL=index-style.css.map */