@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$base-color: linear-gradient(#330066, #330099, #3300CC);

html{
    font-family: 'Varela Round', sans-serif;
    scroll-behavior: smooth;
}

body{
    //1
    //background: #16202A;

    //2
    //background: #13182C;


    //Pack dobvle
    //Card
    background: #0D1427;
    //Body
    //background: #050B1A;

    //Pack Three
    //Card
    //background: #304057;
    //Body
    //background: #182538;
}

svg{
    width:100%;
    position:relative;
    z-index: -10;
    //background-image: linear-gradient(45deg, #330066, #330099, #3300CC);
}

ol > li{
    box-shadow: #330099 5px 5px, #3300CC 10px 10px;
    border-radius: 5px;
    margin: 50px;
    
}
ol > li:hover{
    box-shadow: #330099 5px 5px, #3300CC 10px 10px, #3300FF 15px 15px, #3399FF  20px 20px;
    transition: 0.2s;
}

.holder{
    position:absolute;
    top: 150px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 0;
    z-index: -1;
  }
.heading{
    font-size:10px;
    //font-weight:500;
    margin:5px;
    z-index:1;
    width:100%;
    color:#f5f6fa;
    text-align:center;
  }
.tagline{
    font-size: 15px;
    font-weight: 200;
    width: 100%;
    color:#f5f6fa;
    text-align:center;
}

p{
    text-align: justify;
}

.img-thumbnail{
    border: none;
}



.container{
    margin-top: 60px;
    font-size: larger;
    padding: 100px;
    
}

.navbar{
    background: $base-color;
    padding: 50px;
    
}

.card{
    border-radius: 20px;
    border: none;

    // En blanco
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    color:white;
    background: #0D1427;;
    // A color
    //box-shadow: #330099 5px 5px, #3300CC 10px 10px, #3300FF 15px 15px, #3399FF  20px 20px;
}

.scrollup-button{
    background: $base-color;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: white;
    border: none;
    position: absolute;
}

@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}

