@import "index-style.scss";

#Navegacion{
    a{
      border: none;
      border-radius: 10px;
      color: white;
      text-decoration: none;
    }
    #Init{
      background: $gradient-blue;
    }
    #Init:hover{
        #Init::after{
            content: ">";
        }
    }
    #Seccion1{
      background: $gradient-mint;
    }
    #Seccion2{
      background: $gradient-pink;
    }
    #Seccion3{
      background: $gradient-green;
    }
    #Seccion4{
      background: $gradient-orange;
    }
}

.card{
    box-shadow: $shadow;
    color:black;
    background: #f0f5ff;
    border: none;
    margin-right: 20px;
    border-radius: 20px !important;
}
.rounded-top{
    border-start-start-radius: 20px !important;
    border-start-end-radius: 20px !important;
}
.rounded-left{
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.rounded-right{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.card-group{
    padding: 100px;
}

#Navegacion{
    .container{
        padding: 20px;
    }
}

.dark-mode{
  
  .index-back{
    background-image: none !important;
    background-color: $dark-body;
    background-attachment: fixed;
    background-size: cover;
  }

  .container{
    background: $dark-container;
    
    color: white !important;
  }
}